body {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    margin: 10;
    background-image: url("../images/bgp.jpg");
    background-size: cover;
    overflow: hidden;
  }
  .header-container {
    background-color: rgba(117, 23, 189, 0.9); 
    padding: 25px;
    padding-top: 0;
    border-radius: 20px;
    text-align: center;
    width: auto; 
    margin: 20px 20px 30px 0;
    position: absolute;
    left: 117vh;
    top: 5vh;
    font-family:'Courier New', Courier, monospace;

    box-shadow: 0px 0px 20px 5px rgb(26, 7, 71);
  }
  .user {
    max-width: max-content;
    background-color: rgba(131, 49, 194, 0.9);
    position: absolute;
    top: 60vh;
    left: 10vh;
    /* border: 2px solid #4285f4; */
    border-radius: 10px;
    padding: 10px;
    height:10vh;
    width:25vh;
    margin: auto;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(27, 9, 77, 0.801);
    color: white;
    font-size:24px;
}


  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 15vh;
    margin-top: 30vh;
  }
  .level-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    margin: 20px 0;
  }
  .level-button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .level-button {
    padding: 30px 30px;
    margin: 10px;
    font-size: 20px;
    background-color:  #8b27c0f3;;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 140px;
    box-shadow: 0px 0px 10px 4px #200333;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.3s, filter 0.3s;
  }
  .level-button:hover {
    background-color: #9449d1;
    transform: scale(1.05);
    filter: brightness(1.2);
  }
  .level-button.done{
    background-color: green;
    cursor: pointer;
  }
  .modal {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(133, 131, 132, 0.856);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: fantasy;
    font-weight: 500;
    font-size: large;
  }
  .modal-content {
    background-color: #dfc7f0;
    padding: 20px;
    height:20vh;
    width:35vh;
    top:5vh;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 4px rgb(54, 54, 54);
    text-align: center;
    font-size: large;
  }
  .modal-buttons {
    margin-top: 10px;
    top:20vh;
  }
  .modal-button {
    margin: 20px 15px;
    padding: 5px 10px;
    background-color: #3498db;
    color: #ffffff;
    height: 6vh;
    width: 8vh;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: large;
  }
  .modal-button.cancel {
    height: 6vh;
    width: 10vh;
    background-color: #e74c3c;
    font-size: large;
  }
  .modal-button:hover {
    background-color: #102f43;
  }
  